main {
  padding-top:100vh;
}

section {
  position: relative;
  height:100vh;
  min-height: 680px;
  h2 {
    span {
      cursor: pointer;
      font-weight:700;
    }
  }
}

.black-bg {
  h2 {
    font-size:43px;
  }
}
