@font-face {
  font-family: 'Lintel-Regular';
  src: url('../fonts/Lintel-Regular.eot');
  src: url('../fonts/Lintel-Regular.woff') format('woff'),
  url('../fonts/Lintel-Regular.ttf') format('truetype'),
  url('../fonts/Lintel-Regular.svg') format('svg');
}

