footer {
  section {
    padding-bottom: 100px !important;
    h2 {
      font-size:48px;
    }
    input {
      display: inline-block;
      color: #000;
      width:40%;
      height:50px;
      border:1px solid #000;
      outline: none;
      appearance: none;
      padding:0 20px;
    }
    .email-form {
      margin: 20px 0 100px 0;
    }
    .email-form {
      .glyphicon {
        position: relative;
        color:#fff;
        left:-6px;
        display: inline-block;
        background-color: #1c1c1c;
        text-align: center;
        line-height: 45px;
        width:50px;
        height:50px;
      }
    }
    a[href*="mailto"] {
      font-size:24px;
      padding-left: 5px;
    }
    .social {
      margin-top: 30px;
      li {
        width: 50px;
        height: 50px;
        border: 2px solid #0a0000;
        border-radius: 25px;
        a {
          color:#0a0000;
          i {
            line-height: 46px;
          }
        }
      }
    }
  }
  .copyright {
    background-color: #0a0000;
    position: relative;
    z-index:10;
    font-size:14px;
    p {
      line-height:20px;
      margin:10px;
    }
   }
}
