.navbar-brand {
  img {
    display: none;
  }
}

.navbar {
  transition: .5s ease background-color;
}

.second-nav {
  z-index: 9999;
  width: 100%;
  background-color: #000;
  transition: .5s ease background-color;
  .navbar-brand {
    img {
      display: inline-block;
      position: relative;
      top: -15px;
    }
  }
}
nav + div {
  display:none !important;
}

.collapse.in {
  background-color: #000;
}

header {
  position: fixed;
  background: url('../images/header-bg.jpg') no-repeat center;
  background-size: cover;
  width:100vw;
  height:100vh;
  min-height:680px;

  .navbar-right {
    padding-top: 20px;
  }

  .headings-color-gray {
    color:#D4D4D4;
  }

  .container {
    position: relative;
    top:40%;
    transform: translateY(-40%);
  }

  p {
    font-size:$font-size-h2;
    color:#fff;
  }

}

