.navbar {
  transition: .5s ease background-color;
  @media screen and (max-width: $screen-sm - 1) {
    background: #000;
    min-height: 60px;
    height: 60px;
    .navbar-collapse {
      background-color: #000;
    }
    .navbar-toggle {
      margin-bottom: 0;
      margin-top: 13px;
    }
    .navbar-header {
      height: 60px;
    }
    .navbar-brand {
      height: 60px;
      padding-top: 15px;
      padding-bottom: 0;
      img {
        width: 35px;
        height: auto;
      }
    }
  }
  @media screen and (max-width: 320px) {
    width:320px;
  }
}

.navbar-brand {
  img {
    width: 53px;
    height: 50px;

    @media screen and (min-width: $screen-sm-min) {
      display: none;
      margin: -10px 15px;
    }
  }
}

.second-nav {
  z-index: 9999;
  width: 100%;
  background-color: #000;
  transition: .5s ease background-color;
  .navbar-brand {
    img {
      display: inline-block;
    }
  }
}

nav + div {
  display: none !important;
}

header {
  @media screen and (max-height: 450px){
    .container {
      top: 20% !important;
      transform: translateY(-20%) !important;
      h2, p {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  position: fixed;
  background: url('../images/header-bg.jpg') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  min-height: 680px;

  .navbar-right {
    padding-top: 20px;
  }

  .headings-color-gray {
    color: #b3b3b3;
  }

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  p {
    font-size: $font-size-h2;
    color: #fff;
  }

}

