@media screen and (min-width:769px) {
  .section-padding-lg {
    padding-top:200px;
    padding-bottom:200px;
  }
}

@media screen and (max-width:768px) {
  .section-padding-lg {
    padding-top:100px;
    padding-bottom:100px;
  }
  section {
    p {
      margin-bottom:30px;
    }
    .popup {
    width:90%;
    }
  }
  main {
    .gray-line-top {
      &::after {
        top:67px;
      }
      &::before {
        top:70px;
      }
    }
  }
  footer {
    section {
      .email-form {
        input {
          width:80%;
        }
      }
    }
  }
}
